PORT=3004
NODE_ENV=development

# Kunci JWT (Wajib sama persis dengan yang ada di Auth Service)
JWT_ACCESS_SECRET=rahasia_untuk_uts_pplos_123

# URL Routing Proxy ke Microservices backend
AUTH_SERVICE_URL=http://localhost:3001
PROPERTY_SERVICE_URL=http://localhost:3002
BOOKING_SERVICE_URL=http://localhost:3003