node_modules
npm-debug.log
.env
.env.local
.env.*.local
.DS_Store
.git
.gitignore
.vscode
dist
build
coverage
writable/logs/*
writable/cache/*
vendor/bin
.editorconfig
phpunit.xml.dist
spark
builds
tests
